<h2>Listado de Ingreso</h2>
<div class="bg-white shadow-sm rounded-lg mt-2 p-2">
  <ba-ingreso [listados]="configurarListas" (obtenerBusqueda)="buscar($event, configPaginacion.page, sort)" (limpiar)="limpiarCampos($event)" ></ba-ingreso>
</div>
<div class="bg-white shadow-sm rounded-lg mt-2 p-2">
  <producto-lista-ingreso [listas]="configurarListas" [configPaginacion]="configPaginacion" [sort]="sort" (ordenarTabla)="ordenarTabla($event)" (cambioDePagina)="cambiarPagina($event)" ></producto-lista-ingreso>
</div>
