<h2>Listado de Ingreso</h2>
<div class="bg-white shadow-sm rounded-lg mt-2 p-2">
  <ba-ingreso [productos]="listadoProductos" [categorias]="listadoCategorias" [unidadMedida]="listadoUnidadMedida" [marcas]="listadoMarcas" (obtenerBusqueda)="buscar($event, configPaginacion.page)" (limpiar)="limpiarCampos($event)" ></ba-ingreso>
</div>
<div class="bg-white shadow-sm rounded-lg mt-2 p-2">
  <producto-lista-ingreso [listadoIngreso]="listadoIngreso" [configPaginacion]="configPaginacion" (cambioDePagina)="cambiarPagina($event)" ></producto-lista-ingreso>
</div>
