<div class="table-responsive">
  <table class="table table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th scope="col" class="text-center">N° Remito</th>
        <th scope="col" class="text-center">Fecha</th>
        <th scope="col" class="text-center">Cantidad de Productos</th>
        <th scope="col" class="text-center">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comprobante of listadoIngreso">
        <td class="text-center">{{comprobante.nro_remito}}</td>
        <td class="ancho-celda-vencimiento text-center">{{comprobante.fecha_emision | date: 'dd/MM/yyyy'}}</td>
        <td class="ancho-celda-minimo text-center">{{comprobante.producto_cant_total}}</td>
        <th scope="col" class="text-center">
          <abrir-vista-comprobante-modal [idComprobante]="comprobante.comprobanteid" ></abrir-vista-comprobante-modal>
        </th>
      </tr>
    </tbody>
  </table>
</div>

<div class=" d-flex justify-content-center">
  <ngb-pagination *ngIf="(configPaginacion.colleccionSize > 0)"  [collectionSize]="configPaginacion.colleccionSize" [(page)]="configPaginacion.page" [pageSize]="configPaginacion.pageSize" [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="cambioPagina(configPaginacion.page)" aria-label="Default pagination"></ngb-pagination>
</div>
