<div class="d-flex justify-content-between" >
  <div class="d-flex align-items-center p-2 font-weight-bold">
    <span *ngIf="configPaginacion.totalRegistros > 0">Ingresos: {{configPaginacion.cantRegistros}} - {{configPaginacion.totalRegistros}} de {{configPaginacion.colleccionSize}}</span>
    <span *ngIf="configPaginacion.totalRegistros == 0">Ingresos: 0</span>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th scope="col" class="text-center pointer" (click)="ordenar('nro_remito')">
          <i *ngIf="(sort !== 'nro_remito' && sort !== '-nro_remito')" class="fas fa-sort"></i><i *ngIf="(sort == 'nro_remito')" class="fas fa-sort-up"></i><i *ngIf="(sort == '-nro_remito')" class="fas fa-sort-down"></i> N° Remito
        </th>
        <th scope="col" class="text-center pointer" (click)="ordenar('fecha_emision')">
          <i *ngIf="(sort !== 'fecha_emision' && sort !== '-fecha_emision')" class="fas fa-sort"></i><i *ngIf="(sort == 'fecha_emision')" class="fas fa-sort-up"></i><i *ngIf="(sort == '-fecha_emision')" class="fas fa-sort-down"></i> Fecha
        </th>
        <th scope="col" class="text-center">Cantidad de Productos</th>
        <th scope="col" class="text-center">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comprobante of listas.comprobantes">
        <td class="text-center">{{comprobante.nro_remito}}</td>
        <td class="ancho-celda-vencimiento text-center">{{comprobante.fecha_emision | date: 'dd/MM/yyyy'}}</td>
        <td class="ancho-celda-minimo text-center">{{comprobante.producto_cant_total}}</td>
        <th scope="col" class="text-center">
          <div class="btn-group" role="group" aria-label="agrupacion">
            <abrir-vista-comprobante-modal class="btn-group" [idComprobante]="comprobante.id" ></abrir-vista-comprobante-modal>
            <abrir-comprobante-modal *ngIf="(comprobante.editable)" class="btn-group" [tipoForm]="'editar'" [titulo]="'Editar Comprobante'" [listados]="listas" [comprobanteid]="comprobante.id" (seGuardo)="actualizarListado($event)" ></abrir-comprobante-modal>
          </div>
        </th>
      </tr>
    </tbody>
  </table>
</div>
<div class=" d-flex justify-content-center">
  <ngb-pagination *ngIf="(configPaginacion.colleccionSize > 0)"  [collectionSize]="configPaginacion.colleccionSize" [(page)]="configPaginacion.page" [pageSize]="configPaginacion.pageSize" [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="cambioPagina(configPaginacion.page)" aria-label="Default pagination"></ngb-pagination>
</div>
