.bg-ds {
  background-color: #8cc63f !important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.25)!important;
}
.navbar-brand {
  color: #036954 !important;

  &:hover {
    color: #036954 !important
  }
}
.navbar-nav {
  li {
    a {
      color: #036954;
    }
  }
}
.navbar-nav {
  li {
    &:hover {
      background-color: #8cc63f !important;
    }
    &:focus {
      background-color: #8cc63f !important;
    }
    a {
      &:hover{
        cursor: pointer;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #ccff99;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
      }
    }
    .isCollapse {
      padding: 5px;
    }
  }
  .active {
    a {
      color: #ccff99;
      &:hover {
        color: #fff;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
      }
    }
  }
}
