<fieldset [formGroup]="comprobanteForm">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="nro_comprobante">Nro. Remito:</label>
        <div class="input-group">
          <input class="form-control col-md-4" type="text" min="1"maxlength="4" formControlName="nroComprobantePrincipal" placeholder="0000">
          <div class="input-group-append input-group-prepend">
            <span class="input-group-text">-</span>
          </div>
          <input class="form-control col-md-8" type="text" min="1" maxlength="8" formControlName="nroComprobanteFinal" placeholder="00000000" >
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="fecha_emision">Fecha:</label>
        <div class="input-group">
          <input class="form-control" id="fecha_emision" placeholder="dd/mm/yyyy"
                 name="dp" formControlName="fechaEmision" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-info" (click)="d.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
