<fieldset [formGroup]="formEgreso">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="fecha_acta">Fecha (<b class="text-danger">*</b>):</label>
        <div class="input-group">
          <input class="form-control" id="fecha_acta" placeholder="dd/mm/yyyy"
          name="dp" formControlName="fecha_acta" (ngModelChange)="formatearFecha($event)" ngbDatepicker #d="ngbDatepicker" [ngClass]="{'is-invalid': (formEgreso.get('fecha_acta').invalid && submitted)}">
          <div class="input-group-append">
            <button class="btn" [ngClass]="(formEgreso.get('fecha_acta').invalid && submitted) ? 'btn-outline-danger' : 'btn-outline-info'" (click)="d.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
          </div>
        </div>
        <div class="text-danger" *ngIf="(formEgreso.get('fecha_acta').invalid && submitted)">
          <span>Pro favor ingrese una fecha.</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="nro_acta">Nro de Acta (<b class="text-danger">*</b>):</label>
        <input type="text" class="form-control" id="nro_acta" formControlName="nro_acta" placeholder="Ej.: 123/567" [ngClass]="{'is-invalid': (formEgreso.get('nro_acta').invalid && submitted)}" >
        <div *ngIf="(formEgreso.get('nro_acta').invalid && submitted)" class="text-danger">
          <span>Por favor ingrese un número de acta.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="destino">Para (<b class="text-danger">*</b>):</label>
        <input type="text" class="form-control" id="destino" formControlName="destino_nombre" placeholder="Ej.: Delegación Viedma" [ngClass]="{'is-invalid': (formEgreso.get('destino_nombre').invalid && submitted)}" >
        <div *ngIf="(formEgreso.get('destino_nombre').invalid && submitted)" class="text-danger">
          <span>Por favor ingrese un destino.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="origen">De (<b class="text-danger">*</b>):</label>
        <input type="text" class="form-control" id="origen" formControlName="origen" placeholder="Ej.: Delegación Viedma" [ngClass]="{'is-invalid': (formEgreso.get('origen').invalid && submitted)}" >
        <div *ngIf="(formEgreso.get('origen').invalid && submitted)" class="text-danger">
          <span>Por favor ingrese un origen.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="observacion">Asunto (<b class="text-danger">*</b>):</label>
          <textarea class="form-control" id="observacion" rows="1" formControlName="descripcion" placeholder="Describa el asunto...." [ngClass]="{'is-invalid': (formEgreso.get('descripcion').invalid && submitted)}"></textarea>
          <div *ngIf="(formEgreso.get('descripcion').invalid && submitted)" class="text-danger">
            <span *ngIf="formEgreso.get('descripcion').hasError('minlength')" >El asunto es muy corto.</span>
            <span *ngIf="formEgreso.get('descripcion').hasError('required')" >Por favor agregue una asunto.</span>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="asunto">Bulto/Módulo (<b class="text-danger">*</b>):</label>
        <select class="form-control" id="asunto" formControlName="tipo_egresoid" [ngClass]="{'is-invalid': (formEgreso.get('tipo_egresoid').invalid && submitted)}">
          <option value="">Seleccione Bulto o Módulo</option>
          <option *ngFor="let tipo of listados.tipo_egresos" value="{{tipo.id}}">{{tipo.nombre}}</option>
        </select>
        <div *ngIf="(formEgreso.get('tipo_egresoid').invalid && submitted)" class="text-danger">
          <span>Por favor seleccione un asunto.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="categoria">Localidad (<b class="text-danger">*</b>):</label>
        <select class="form-control" id="localidadaid" formControlName="destino_localidadid" [ngClass]="{'is-invalid': (formEgreso.get('destino_localidadid').invalid && submitted)}">
          <option value="">Seleccione una Asunto</option>
          <option *ngFor="let localidad of listados.localidades" value="{{localidad.id}}">{{localidad.nombre}}</option>
        </select>
        <div *ngIf="(formEgreso.get('destino_localidadid').invalid && submitted)" class="text-danger">
          <span>Por favor seleccione una localidad de destino.</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="suscrito">Suscrito (<b class="text-danger">*</b>):</label>
        <input type="text" class="form-control" id="suscrito" formControlName="suscrito" placeholder="Ej.: Persona suscrita"[ngClass]="{'is-invalid': (formEgreso.get('suscrito').invalid && submitted)}" >
        <div *ngIf="(formEgreso.get('suscrito').invalid && submitted)" class="text-danger">
          <span>Por favor ingrese el nombre del suscrito.</span>
        </div>
      </div>
    </div>
  </div>
</fieldset>
