<fieldset >
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="global_param" id="buscar-stock" placeholder="Buscar por número de acta o destino Ej.: 325/23" (keyup.enter)="buscar()" >
      <div class="input-group-append btn-group">
        <button type="button" class="btn btn-outline-primary" (click)="buscar()"><i class="fas fa-search"></i></button>
        <button type="button" class="btn btn-outline-danger" (click)="limpiarCampos()"><i class="fas fa-trash-alt"></i></button>
        <crear-acta-modal [listaInventario]="listaInventario" [listaLocalidad]="localidades" [listaTipoEgreso]="tipoEgresos" (confirmacion)="confirmarCrearActa($event)"></crear-acta-modal>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-md" (click)="mostrarBusquedaAvanzada()" [ngClass]="{'btn-success': btnSeleccion, 'btn-outline-primary': !btnSeleccion}">
    Búsqueda Avanzada &nbsp;
    <i class="fas fa-caret-down" *ngIf="!mostrar" ></i>
    <i class="fas fa-caret-up" *ngIf="mostrar" ></i>
  </button>
  <div class="card mt-1" *ngIf="mostrar" >
    <div class="card-body">
      <fieldset [formGroup]="busquedaAvanzada">
        <div class="row">
          <div class="form-group col-md-4">
            <label for="fecha_desde" class="prioridad">Egreso Desde/Hasta:</label>
            <div class="input-group">
              <input class="form-control input-append"
              placeholder="Desde: dd/mm/yyyy"
              ngbDatepicker
              #datePicker="ngbDatepicker"
              id="fecha_desde"
              formControlName="fechaDesde"
              (ngModelChange)="formatFecha($event, 'fecha_desde');"
              [ngClass]="{'campo-seleccionado': marcarCampo(busquedaAvanzada.get('fechaDesde').value)}"
              [displayMonths]="2"
              [navigation]="'select'"
              [dayTemplate]="t"
              [autoClose]="false" >
              <input class="form-control" #c1 placeholder="Hasta: dd/mm/yyyy" ngbDatepicker #fb="ngbDatepicker"
              id="fecha_hasta" formControlName="fechaHasta" (ngModelChange)="formatFecha($event, 'fecha_hasta')" [ngClass]="{'campo-seleccionado': marcarCampo(busquedaAvanzada.get('fechaHasta').value)}"
              >
              <div class="input-group-prepend">
                  <button class="btn btn-outline-info" (click)="abrirDp()" type="button">
                    <span class="oi oi-calendar" title="Fecha desde/hasta" aria-hidden="true"></span>
                  </button>
              </div>
              <ngb-datepicker #db (select)="onDateSelection($event)" class="dp-style" [ngClass]="{'d-block': mostrarDp, 'd-none': !mostrarDp}" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [container]="'body'" ></ngb-datepicker>
              <ng-template #t let-date let-focused="focused">
                  <span class="custom-day"
                        [class.focused]="focused"
                        [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)"
                        (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="localidad" class="prioridad">Localidad:</label>
            <select class="form-control" id="localidad" formControlName="destino_localidadid" [ngClass]="{'campo-seleccionado': marcarCampo(busquedaAvanzada.get('destino_localidadid').value)}" >
              <option value="">Seleccione una Localidad</option>
              <option *ngFor="let localidad of localidades" value="{{localidad.id}}">{{localidad.nombre}}</option>
            </select>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</fieldset>

