<fieldset [formGroup]="busquedaAvanzada">
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" formControlName="global_param" id="buscar-stock" placeholder="buscar por nombre de producto, número de rémito Ej.: Azucar" (keyup.enter)="buscar()" >
      <div class="input-group-append btn-group">
        <button type="button" class="btn btn-outline-primary" (click)="buscar()"><i class="fas fa-search"></i></button>
        <button type="button" class="btn btn-outline-danger" (click)="buscar()"><i class="fas fa-trash-alt"></i></button>
        <abrir-comprobante-modal [titulo]="'Agregar Stock'"></abrir-comprobante-modal>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-md" (click)="mostrarBusquedaAvanzada()" [ngClass]="{'btn-success': btnSeleccion, 'btn-outline-primary': !btnSeleccion}">
    Búsqueda Avanzada &nbsp;
    <i class="fas fa-caret-down" *ngIf="!mostrar" ></i>
    <i class="fas fa-caret-up" *ngIf="mostrar" ></i>
  </button>
  <div class="card mt-1" *ngIf="mostrar" >
    <div class="card-body">
      <fieldset>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="categoria" class="prioridad">Categoría:</label>
            <select class="form-control" id="categoria" formControlName="categoriaid" [ngClass]="{'campo-seleccionado': marcarCampo(busquedaAvanzada.get('categoriaid').value)}" >
              <option value="">Seleccione Categoría</option>
              <option *ngFor="let categoria of categoriaLista" value="{{categoria.id}}">{{categoria.nombre}}</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="marca" class="prioridad">Marca:</label>
            <select class="form-control" id="marca" formControlName="marcaid" [ngClass]="{'campo-seleccionado': marcarCampo(busquedaAvanzada.get('marcaid').value)}" >
              <option value="">Seleccione Localidad</option>
              <option *ngFor="let marca of marcaLista" value="{{marca.id}}">{{marca.nombre}}</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="marca" class="prioridad">Unidad de medida:</label>
            <div class="input-group">
              <input type="text" class="form-control" (keyup)="validarNumero($event.target)" placeholder="500" formControlName="unidad" [ngClass]="{'campo-seleccionado': marcarCampo(busquedaAvanzada.get('unidad').value)}">
              <select class="form-control" id="marca" formControlName="medidadid" [ngClass]="{'campo-seleccionado': marcarCampo(busquedaAvanzada.get('medidadid').value)}" >
                <option value="">Seleccione Medidad</option>
                <option *ngFor="let marca of medidadLista" value="{{marca.id}}">{{marca.nombre}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="fecha_desde" class="prioridad">Ingreso Desde/Hasta:</label>
            <div class="input-group">
                <input class="form-control input-append"
                placeholder="Desde: dd/mm/yyyy"
                ngbDatepicker
                #datePicker="ngbDatepicker"
                id="fecha_desde"
                formControlName="ingresoDesde"
                (ngModelChange)="formatFecha($event, 'ingreso_desde');"
                [ngClass]="{'campo-seleccionado': marcarCampo(busquedaAvanzada.get('ingresoDesde').value)}"
                [displayMonths]="2"
                [navigation]="'select'"
                [dayTemplate]="t"
                [autoClose]="false" >
                <input class="form-control" #c1 placeholder="Hasta: dd/mm/yyyy" ngbDatepicker #fb="ngbDatepicker"
                id="fecha_hasta" formControlName="ingresoHasta" (ngModelChange)="formatFecha($event, 'ingreso_hasta')" [ngClass]="{'campo-seleccionado': marcarCampo(busquedaAvanzada.get('ingresoHasta').value)}"
                >
                <div class="input-group-prepend">
                    <button class="btn btn-outline-info" (click)="abrirDp()" type="button">
                        <span class="oi oi-calendar" title="Fecha desde/hasta" aria-hidden="true"></span>
                    </button>
                </div>
                <ngb-datepicker #db (select)="onDateSelection($event)" class="dp-style" [ngClass]="{'d-block': mostrarDp, 'd-none': !mostrarDp}" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [container]="'body'" ></ngb-datepicker>
                <ng-template #t let-date let-focused="focused">
                    <span class="custom-day"
                          [class.focused]="focused"
                          [class.range]="isRange(date)"
                          [class.faded]="isHovered(date) || isInside(date)"
                          (mouseenter)="hoveredDate = date"
                          (mouseleave)="hoveredDate = null">
                      {{ date.day }}
                    </span>
                  </ng-template>
              </div>
            </div>
            <div class="col-md-4 alinear-checkbox">
              <div class="d-flex justify-content-between">
                <div class="form-group form-check-inline">
                  <input type="checkbox" class="form-check-input" formControlName="defectuoso" id="defectuoso">
                  <label class="form-check-label" for="defectuoso">Defectuoso/s</label>
                </div>
                <div class="form-group form-check-inline">
                  <input type="checkbox" class="form-check-input" formControlName="vencido" id="vencidos">
                  <label class="form-check-label" for="vencidos">Vencido/s</label>
                </div>
              </div>
            </div>
          </div>
      </fieldset>
    </div>
  </div>
</fieldset>

