<nav class="navbar navbar-expand-md bg-ds fixed-top">
  <a class="navbar-brand">
    <img src="../../../assets/img/logoRN.svg" width="60" height="40" alt="Desarrollo humano y articulación solidaria">
    <div class="nombre-ds">Ministerio de Desarrollo Humano y Articulación Solidaria</div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed;" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="oi oi-menu"></span>
  </button>
   <div class="collapse navbar-collapse sidebar" id="navbarCollapse" [(ngbCollapse)]="isCollapsed">
     <ul class="navbar-nav mr-auto ml-auto">
       <li><span class="nombre-sys" >Inventario</span></li>
     </ul>
    <ul class="navbar-nav" [ngStyle]="{'flex-column': !isCollapsed}" *ngIf="estoyLogueado()">
      <li class="" ><a class="nav-name-user" ><i class="fas fa-user-tie"></i>&nbsp;&nbsp;{{nombreUsuario}}</a></li>
      <li class="" [routerLinkActive]="['active']" ><a class="nav-link" [routerLink]="['/admin/gestor-usuarios']" ><i class="fas fa-users-cog"></i> Gestion de Usuarios</a></li>
      <li class="" ><a class="nav-link" (click)="cerrarSesion()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
    </ul>
  </div>
</nav>

