.border {
  border-color: #036954 !important;
  border-style: dashed !important;
}
.nav-name-user {
  display: block;
  padding: 0.5rem 0;
  text-decoration: none;
  color: black;
}
.navbar-nav li a.nav-name-user:hover {
  box-shadow: 0 0 0 0 !important;
  border-radius: 0;
  color: black;
  cursor: text;
}
.nombre-ds {
  color: #036954;
  font-size: 11px;
  /* margin-bottom: 0 !important; */
  inline-size: 170px;
  float: right;
  height: 40px;
  white-space: break-spaces !important;
}
.nombre-sys {
  color: #036954 !important;
  font-size: 1.5rem !important;
}
