
<table class="table table-bordered table-hover table-sm">
  <thead>
    <tr>
      <th class="ancho-celda-minimo text-center">Cantidad</th>
      <th scope="col">Producto</th>
      <th scope="col" class="text-center">Marca</th>
      <th scope="col" class="text-center">Categoría</th>
      <th scope="col" class="text-center">Vencimiento</th>
      <!-- <th scope="col">Comprobante</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of listadoStock">
      <td class="ancho-celda-minimo text-center">{{producto.cantidad}}</td>
      <td>{{producto.producto}}</td>
      <td class="text-center">{{producto.marca}}</td>
      <td class="text-center">{{producto.categoria}}</td>
      <td class="ancho-celda-vencimiento text-center">{{producto.vencimiento | date: 'dd/MM/yyyy'}}</td>
    </tr>
  </tbody>
</table>
