
<table class="table table-bordered table-hover table-sm">
  <thead>
    <tr>
      <th class="ancho-celda-minimo text-center">Cantidad</th>
      <th scope="col">Producto</th>
      <th scope="col" class="text-center">Marca</th>
      <th scope="col" class="text-center">Categoría</th>
      <th scope="col" class="text-center">Vencimiento</th>
      <!-- <th scope="col">Comprobante</th> -->
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="ancho-celda-minimo text-center">2000</td>
      <td>Fideos 1kg</td>
      <td class="text-center">Canale</td>
      <td class="text-center">Alimentos</td>
      <td class="ancho-celda-vencimiento text-center">24/07/2020</td>
    </tr>
    <tr>
      <td class="ancho-celda-minimo text-center">2000</td>
      <td>Fideos 1kg</td>
      <td class="text-center">Canale</td>
      <td class="text-center">Alimentos</td>
      <td class="ancho-celda-vencimiento text-center">24/07/2020</td>
    </tr>
    <tr>
      <td class="ancho-celda-minimo text-center">2000</td>
      <td>Fideos 1kg</td>
      <td class="text-center">Canale</td>
      <td class="text-center">Alimentos</td>
      <td class="ancho-celda-vencimiento text-center">24/07/2020</td>
    </tr>
    <tr>
      <td class="ancho-celda-minimo text-center">2000</td>
      <td>Fideos 1kg</td>
      <td class="text-center">Canale</td>
      <td class="text-center">Alimentos</td>
      <td class="ancho-celda-vencimiento text-center">24/07/2020</td>
    </tr>
    <tr>
      <td class="ancho-celda-minimo text-center">2000</td>
      <td>Fideos 1kg</td>
      <td class="text-center">Canale</td>
      <td class="text-center">Alimentos</td>
      <td class="ancho-celda-vencimiento text-center">24/07/2020</td>
    </tr>
  </tbody>
</table>
