<div class="table-responsive mt-2">
  <table class="table table-hover table-sm border-top">
    <thead>
      <tr>
        <th class="ancho-celda-minimo text-center">Cantidad</th>
        <th scope="col">Producto</th>
        <th scope="col" class="text-center">Vencimiento</th>
        <th scope="col" class="text-center">Acción</th>
      </tr>
    </thead>
    <tbody *ngIf="((stock.length == 0) && submitted)">
      <tr>
        <td class="text-center text-danger" colspan="4" rowspan="1">NO se puede crear comprobante sin productos!!</td>
      </tr>
    </tbody>
    <tbody *ngIf="(stock.length > 0)">
      <tr *ngFor="let item of stock;let i=index" [ngClass]="{'table-secondary': item.falta}" ngbTooltip="{{info(item.falta)}}">
        <td class="ancho-celda-minimo text-center">{{item.cantidad}}</td>
        <td>{{item.producto}} </td>
        <td class="ancho-celda-vencimiento text-center">{{(item.falta) ? '' : item.fecha_vencimiento | date: 'dd/MM/yyyy'}}</td>
        <th scope="col" class="text-center">
          <abrir-confirmacion-borrado-producto-modal *ngIf="borrar" [texto]="'producto'" [indexListado]="i" [listado]="stock"></abrir-confirmacion-borrado-producto-modal>
          <agregar-cantidad-faltante-producto-modal *ngIf="(!item.falta && (!vista))" [producto]="item" [cantidadProductoMaximo]="item.cantidad" [vista]="vista" (productoFaltante)="obtenerProductoFaltante(item, i, $event)"></agregar-cantidad-faltante-producto-modal>
          <agregar-cantidad-devolucion-producto-modal *ngIf="(item.falta && !borrar)" [cantidadProductoMaximo]="item.cantidad" [producto]="item" (productoDevolucion)="registrarProductoDevuelto($event)" ></agregar-cantidad-devolucion-producto-modal>
        </th>
      </tr>
    </tbody>
  </table>
</div>

