<div class="table-responsive">
  <table class="table table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th class="ancho-celda-minimo text-center">Cantidad</th>
        <th scope="col">Producto</th>
        <th scope="col" class="text-center">Categoría</th>
        <th scope="col" class="text-center">Vencimiento</th>
        <th *ngIf="(tipoTabla == 'seleccionar_producto')" scope="col" class="text-center">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of listadoStock">
        <td class="ancho-celda-minimo text-center">{{producto.cantidad}}</td>
        <td>{{producto.producto}}</td>
        <td class="text-center">{{producto.categoria}}</td>
        <td class="ancho-celda-vencimiento text-center">{{producto.fecha_vencimiento | date: 'dd/MM/yyyy'}}</td>
        <th *ngIf="(tipoTabla == 'seleccionar_producto')" scope="col" class="text-center">
          <agregar-cantidad-producto-modal [cantidadMaxima]="producto.cantidad" (obtenerCantidad)="nuevaCantidad($event, producto)"></agregar-cantidad-producto-modal>
        </th>
      </tr>
    </tbody>
  </table>
</div>
