<div class="table-responsive mt-2">
  <table class="table table-hover table-sm border-top">
    <thead>
      <tr>
        <th class="ancho-celda-minimo text-center">Cantidad</th>
        <th scope="col">Producto</th>
        <th scope="col" class="text-center">Vencimiento</th>
        <th scope="col" class="text-center">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of stock">
        <td class="ancho-celda-minimo text-center">{{item.cantidad}}</td>
        <td>{{item.producto}} </td>
        <td class="ancho-celda-vencimiento text-center">{{item.fecha_vencimiento | date: 'dd/MM/yyyy'}}</td>
        <th scope="col" class="text-center">
          <button type="button" class="btn btn-sm btn-danger" ><i class="fas fa-trash-alt"></i></button>
        </th>
      </tr>
    </tbody>
  </table>
</div>

