  <ul ngbNav #nav="ngbNav" class="nav-pills nav-justified" >
    <li ngbNavItem="datos">
      <a ngbNavLink>Datos Usuario</a>
      <ng-template ngbNavContent>
        <admin-usuario-info [datosUsuario]="datosUsuario" ></admin-usuario-info>
      </ng-template>
    </li>
    <li ngbNavItem="permisos">
      <a ngbNavLink>Convenio/s y Permiso/s</a>
      <ng-template ngbNavContent>
        <admin-administrar-rol-permiso-form [idUsuario]="datosUsuario.usuario.id" [listaConvenio]="configListas.convenios" [listaPermisos]="configListas.permisos" [baja]="usuarioBaja"></admin-administrar-rol-permiso-form>
      </ng-template>
    </li>
    <li ngbNavItem="administrarUsuario">
      <a ngbNavLink>Administrar contraseña</a>
      <ng-template ngbNavContent>
        <div class="col-md-12 m-1">
          <admin-usuario-pass-form [usuario]="usuario" [submitted]="submitted" [localidades]="configListas.localidades" [listaRoles]="configListas.roles" [baja]="usuarioBaja"  ></admin-usuario-pass-form>
        </div>
        <div class="col-md-12 mt-1 mb-3" *ngIf="!usuarioBaja">
          <button type="button" class="btn btn-success btn-block" (click)="cambiarPass()"><i class="far fa-save"></i> Guardar</button>
        </div>
        <div class="col-md-12 mt-1 mb-3" *ngIf="usuarioBaja">
          <div class="alert alert-danger text-center" role="alert">
            El usuario ha sido dado de baja. En estos momentos no se pueden modificar sus datos.
          </div>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-3"></div>
